:root {
--primaryColor:rgb(28, 28, 194);
--secondaryColor: #00d9fff3;
--lightcolor: #ffffff;
--bgColor-1: #171a1c;
--bgColor-2: #22282a;
--padding: 8%;

}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
color: var(--lightcolor);

}

h1{
    font-size: 3.65rem;
    margin: 1.7rem 0;

}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3{
    font: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    
}

. {
    font-size: 1.15rem;
    margin-bottom: 1.65rem;
    letter-spacing: 2px;
}

span{
    color:var(--primaryColor);
}

p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

/*--------------------------------------Scroll Bar ------------------------------------*/

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right:0;
    width: 10px;
   
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%,100%
    {

        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}


/*--------------------------------------Home Section------------------------------------*/

.home{ 
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

nav{
    position: relative;
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a{
color: var(--lightcolor);
text-decoration: none;
text-transform: capitalize;
transition: 0.4s;
}

nav ul li a:hover{
    color: var(--primaryColor);
    
}

.btn{
background-color: var(--primaryColor);
color: var(--lightcolor);
text-decoration: none;
font-weight:bold;
padding: 0.81rem 1.87rem;
border-radius: 30px;
border: 2px solid transparent;
transition: 0.3s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor)
}

.content{
    flex-grow: 1;
    padding:0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts{
    position: relative;
    bottom: 50px;
}

.social{
    margin-top: 3.5rem;
}

.social a {
    text-decoration: none;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.social1{
    margin-top: 1rem;
}

.social1 a {
    text-decoration: none;
}

.social1 img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social1 img:hover{
    transform: scale(1.2);
}

.home .container-images {
    width: 45%;
    height: 95%;
    position: relative;
    align-self: flex-end;
}

.container-images img .shape{
    height: 10%;
}

.home .container-images img{
     position: absolute;
     bottom: 0;
     height: 95%;
     left: 50%;
     transform: translateX(-50%);
     transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape{
    bottom:40px;
}

.home .container-images:hover .pic{
    left:45%;
}

/*--------------------------------------About Section------------------------------------*/

.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .container-imgs{
width: 35%;
}

.about .container-imgs img{
    width: 90%;
}

.about .container-text{ 
    width: 35%;
}

/*--------------------------------------Services Section------------------------------------*/

.services{
     background-color: var(--bgColor-1);
     padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
display: flex;
justify-content: space-between;
}

.card{
    width: 250px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1rem 1.4rem;
    text-align: center;
}

.card .a{
    width: 215px;
}

.card i{
    font-size: 3.4rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
    transition: .4s;
}

.card i:hover{
    font-size: 4rem;
}

/*--------------------------------------Skills Section------------------------------------*/

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-imgs{
    width: 35%;
}
    
.skills .container-imgs img{
    width: 90%;
}
    
.skills .container-skills{
    width: 50%;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}
 
.skill{
    width: 100px;
    height: 100px;
    background-color: var(--lightcolor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img{
    width: 75%;
    transition: .4s;
}

.skill img:hover{
    width: 90%;
}

/*--------------------------------------Footer Section------------------------------------*/

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p {
    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}

/*--------------------------------------Humberger Menu------------------------------------*/


#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightcolor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: .4s;
    margin-bottom: 5px;

}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span{
    background-color: var(--primaryColor);
}
/*--------------------------------------Media Queries------------------------------------*/

@media screen and (max-width: 575px){
    :root {
        --padding: 1.5rem;
    }
    
    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }
    nav{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 82px;
            padding-top: 0;
            background-color: var(--bgColor-1);
            border-bottom: 1px solid var(--bgColor-2);
            z-index: 100;

    }
    
    
    nav > a{
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top:0;
        right:0;
        width: 30vw;
        height: 100vh;
        background: var(--bgColor-2);
       
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0;
    }

    .social{
        margin-top:  70px;
    }

    h3 {
        margin-bottom: 60px;
    }

    #menu{
        display: block;
    }
    .about .container-imgs{
        display: none;
    }
    
    .about .container-text{
        width: 100%;
    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-left: 1.3rem;
    }
    .skill {
        width: 80px;
        height:80px;
    }

    footer .content-footer p{
        width: 100%;
    }

}

@media screen and (min-width: 576px) and (max-width:767px){
    :root {
        --padding: 1.5rem;
    }
    
    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }

    .content {
        padding-top: 82px;
    }
    nav{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 82px;
            padding-top: 0;
            background-color: var(--bgColor-1);
            border-bottom: 1px solid var(--bgColor-2);
            z-index: 100;

    }
    
    
    nav > a{
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
       
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0;
    }

    .social{
        margin-top:  30px;
    }

    h3 {
        margin-bottom: 30px;
    }

    #menu{
        display: block;
    }
    .about .container-imgs{
        display: none;
    }
    
    .about .container-text{
        width: 100%;
    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-left: 1.3rem;
    }
    .skill {
        width: 80px;
        height:80px;
    }

    footer .content-footer p{
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width:920px){
    :root {
        --padding: 1.5rem;
    }
    
    html{
        font-size: 13px;
    }

    .home .container-images{
        display: none;
    }
    nav{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 82px;
            padding-top: 0;
            background-color: var(--bgColor-1);
            border-bottom: 1px solid var(--bgColor-2);
            z-index: 100;

    }
    
    
    nav > a{
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
       
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0;
    }

    .social{
        margin-top:  70px;
    }

    h3 {
        margin-bottom: 60px;
    }

    #menu{
        display: block;
    }
    .about .container-imgs{
        display: none;
    }
    
    .about .container-text{
        width: 100%;
    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .skills .container-imgs{
        display: none;
    }

    .skills .container-skills{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-left: 1.3rem;
    }
    .skill {
        width: 80px;
        height:80px;
    }

    footer .content-footer p{
        width: 100%;
    }

}

@media screen and (min-width: 921px) and (max-width:1279px){
    :root {
        --padding: 1.5rem;
    }
    
    html{
        font-size: 13px;
    }

    .home .container-images .shape {
        height: auto ;
        width: 450px;
    }

    .home .container-images .pic {
        height: auto ;
        width: 280px;
    }

    nav{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 82px;
            padding-top: 0;
            background-color: var(--bgColor-1);
            border-bottom: 1px solid var(--bgColor-2);
            z-index: 100;

    }
    
    
    nav > a{
        display: none;
    }

    nav ul {
        display: none;
        position: fixed;
        top:0;
        right:0;
        width: 20vw;
        height: 100vh;
        background: var(--bgColor-2);
       
    }

    nav ul.is-active{
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    }

    .container-texts{
        bottom: 0;
    }

    .social{
        margin-top:  70px;
    }

    h3 {
        margin-bottom: 60px;
    }

    #menu{
        display: block;
    }
    
    .about .container-text{
        width: 60%;
    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    

    .skills .container-skills{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .skills .container-skills .content-skills{
        margin-top: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-left: 1.3rem;
    }
    .skill {
        width: 80px;
        height:80px;
    }

    footer .content-footer p{
        width: 100%;
    }

}  */
